*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.1;
    color: black;
    background-color: white;
}

%heading {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %heading;
}

// Set responsive font-size
@for $i from 1 through 6 {
    $hname: h#{$i};
    $n: map-get($header-font-sizes, $hname);

    @each $key, $_ in $media-breakpoints {
        @include media-breakpoint($key) {
            #{$hname} {
                font-size: $n;
            }
            $n: $n * $font-size-multiplier;
        }
    }
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

$n: $p-font-size;
@each $key, $_ in $media-breakpoints {
    @include media-breakpoint($key) {
        p {
            font-size: $n;
        }
    }
    $n: $n * 1.05;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
