*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: black;
    background-color: white;
}

%heading {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %heading;
}

@for $i from 1 through 6 {
    $hname: h#{$i};
    #{$hname} {
        font-size: map-get($header-font-sizes, $hname);
    }
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.125rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
