$header-height: 70px;

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

h1,
h2 {
    text-transform: uppercase;
}

p {
    color: #575a7b;
}

.white-bg-overlay {
    background: linear-gradient(180deg, rgba(239, 238, 242, 0.32) 0%, white 100%);
    height: 100%;
}


/* HEADER */
header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    width: 100%;
    background-color: white;

    a {
        text-decoration: none;
        color: black;

        &.logo {
            text-transform: uppercase;
            font-weight: 700;
        }
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 0;

        li {
            margin-right: 1rem;
            padding: 0.5rem;

            &:hover {
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
    }
}
section.hero {
    margin-top: 70px;
    background: url("../img/kuva-1.jpg");
    background-position: top center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    line-height: 1.1;
  }
  
  section.hero .hero-text-flex-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
  }
  
  section.hero h1 {
    font-weight: 700;
    font-size: 2.5rem;
  }
  
  section.hero p {
    font-weight: 400;
    font-size: 1.8rem;
  }
  
  @media (min-width: 576px) {
    section.hero h1 {
      font-size: 4.5rem;
    }
  }
/* SECTION */
section.hero {
    margin-top: $header-height;
    background: url('../img/kuva-1.jpg');
    background-position: top center;
    background-size: cover;
    height: calc(100vh - #{$header-height}px);

    .hero-text {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        height: 100%;
    }
}