body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

h1,
h2 {
    text-transform: uppercase;
}

p {
    color: #575a7b;
}

.white-bg-overlay {
    background: linear-gradient(180deg, rgba(239, 238, 242, 0.32) 0%, white 100%);
    height: 100%;
}

/* HEADER */
header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    width: 100%;
    background-color: white;

    a {
        text-decoration: none;
        color: black;

        &.logo {
            text-transform: uppercase;
            font-weight: 700;
        }
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 0;

        li {
            margin-right: 1rem;
            padding: 0.5rem;

            &:hover {
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
    }
}

/* SECTION */
section.hero {
    margin-top: $header-height;
    background: url("../img/f1.jpg");
    background-position: top center;
    background-size: cover;
    height: 100vh;

    .hero-text {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        height: 100%;
        text-align: center;
    }

    p {
        font-size: 1.75rem;
    }

    @include media-breakpoint(md) {
        h1 {
            font-size: 4rem;
        }

        p {
            font-size: 2.25rem;
        }
    }

    @include media-breakpoint(lg) {
        h1 {
            font-size: 5rem;
        }
    }
}

/* CONTENT-01 */
section.content-01 {
    .card-body p {
        font-size: 1rem;
    }
}

/* FOOTER */
footer {
    color: black;
}

footer a {
    display: block;
    text-align: center;
}

footer a i {
    font-size: 3em;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-out;
}

footer a i:hover {
    color: #1b1642;
}

footer .copy {
    padding: 3.5em 0 0;
}

/* 404.html */
.row-404 {
    height: 100vh;
}

.row-404 h1 {
    font-size: 2.5rem;
}

.row-404 h1 span {
    font-size: 3rem;
}

.row-404 a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 700;
}

.row-404 a:hover {
    background-color: rgba(0, 120, 120, 0.5);
    color: white;
}

@media (min-width: 576px) {
    .row-404 {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
